body{
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.banner{
    background-image: url('../images/bg-1.png');
    background-size: cover;
}

.banner-container{
    display: flex;
    padding: 150px 0 170px;
    align-items: center;
}

.banner-left-container{
    flex-basis: 66%;
}

.banner-left-container p{
    font-size: 16px;
    color: #A0A9B1;
    margin: 0 0 16px;
    line-height: 1.7;
}

.banner-left-container .banner-title{
    font-size: 15px;
    margin: 0 0 47px;
}

.banner-left-container h1{
    font-size: 40px;
    margin: 0 0 24px;
    color: #343A40;
    line-height: 1.4;
}

.banner-left-container h1 span{
    color: #2F55D4;
}

.banner-left-container .banner-btn{
    display: flex;
}

.banner-left-container .primary-btn a{
    background-color: #2F55D4;
    color: #fff;
    font-weight: 600;
    padding: 12px 17px;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0 8px 14px rgba(47,85,212,.2);
}

.banner-left-container .secondary-btn a{
    background-color: #34d1bf;
    color: #fff;
    font-weight: 600;
    padding: 12px 17px;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 10px;
    box-shadow: 0 8px 14px rgba(52,209,191,.2);
}

.banner-right-container{
    flex-basis: 27%;
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 8px 35px 0 rgba(73,80,87,.05);
}

.banner-right-container p{
    color: #A0A9B1;
    font-size: 15px;
    margin: 0 0 8px;
}

.banner-right-container .banner-welcome{
    line-height: 1.5;
    text-align: center;
}

.banner-right-container h5{
    font-size: 24px;
}

.banner-right-container .banner-trail{
    color: #343A40;
    font-weight: 600;
    font-size: 20px;
}

.banner-right-container .banner-welcome{
    margin: 0 0 24px;
}

.banner-right-container label{
    color: #A0A9B1;
    font-size: 14.4px;
    margin: 0 0 10px;
    display: inline-block;
}

.banner-right-container .banner-name{
    margin: 0 0 24px;
}

.banner-right-container .banner-email{
    margin: 0 0 24px;
}

.banner-right-container .banner-password{
    margin: 0 0 24px;
}

.banner-right-container a{
    background-color: #2F55D4;
    text-align: center;
    padding: 8px 103px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 8px 14px rgba(47,85,212,.2);
    margin: 0 0 24px;
}

.banner-right-container i{
    font-size: 14.4px;
    font-weight: 600;
    margin-left: 4px;
}

.banner-right-container input{
    border: 1px solid #ced4da;
    padding: 10px 12px;
    border-radius: 3px;
    width: 90%;
}

.services{
    padding: 80px 0;
    background-color: #f8fafe;
}

.services .section-title{
    text-align: center;
}

.services .section-title h5{
    font-size: 14px;
    color: #2F55D4;
    margin: 0 0 8px;
}
.services .section-title h4{
    font-size: 21px;
    color: #343A40;
    margin: 0 0 17px;
}

.services .section-title p{
    margin-bottom: 48px;
    color: #A0A9B1;
    line-height: 1.8;
}

.services .section-content{
    margin: 25px 0 0;
    text-align: center;
}
.services .section-content .service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services .section-content .service-item{
    flex-basis: 33%;
    margin: 27px 0 0;
}

.services .section-content i{
    font-size: 25px;
    color: #2F55D4;
    background-color: rgba(47,85,212,.1);
    margin-bottom: 24px;
    padding: 14px 16px;
    border-radius: 50%;
    display: inline-block;
}

.services .section-content h4{
    font-size: 18px;
    color: #343A40;
    margin-bottom: 15px;
    line-height: 1.2;
}

.services .section-content p{
    font-size: 15px;
    color: #A0A9B1;
    line-height: 1.8;
    margin-bottom: 50px;
}

.services .section-content a{
    background-color: #34d1bf;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 18px;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0 8px 14px rgba(52,209,191,.2);
}

.team{
    padding: 80px 0;
    background-color: #2f55d4;
}
.team .team-title{
    text-align: center;
    margin-bottom: 48px;
    padding: 0 15px;
}

.team .team-title h4{
    font-size: 24px;
    color: #fff;
    margin-bottom: 8px;
}

.team .team-title p{
    font-size: 15px;
    line-height: 1.8;
    color: hsla(0,0%,100%,.5);
    margin-bottom: 16px;
}

.team .team-content{
    text-align: center;
}

.team .team-content .team-bucket{
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
}
.team .team-content .team-element i{
    font-size: 35px;
    color: #34D1BF;
    margin-top: 24px;
    display: inline-block;
}

.team .team-content .team-element h2{
    font-size: 32px;
    color: #fff;
    margin: 24px 0 8px;
}

.team .team-content .team-element p{
    font-size: 16px;
    color: hsla(0,0%,100%,.5);
    margin-bottom: 16px;
    line-height: 1.8;
}